body {
    background-color: hsl(217, 54%, 11%);
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1440px;
    height: 1440px;
    align-items: center;   
}


.card {
    
    display: inline-block;
    background-color: hsl(216, 50%, 16%);
    align-items: center;
    border: 10px solid hsl(216, 50%, 16%);
    padding: 15px;
    padding-bottom:;
    border-radius: 10px;
    margin: auto;
    width: 350px;
    height: 600px;
}


.interno {
    color: hsl(0, 0%, 100%);
    font-size: 28px;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    margin-left: -10px;
    
}

.foto {
    border-radius: 10px;
    width: 350px;
    margin: auto;

}

.interno2 {
    color: #8BACD9;
    text-align:left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
}

.logo1 {
    float: left;
    color: #00FFF8;
    position: relative;
    text-align: left;
    display: block;
    font-family: 'Outfit', sans-serif;
    
}

.logo2{
    float: right;
    color: #8BACD9;
    text-align: right;
    margin-right: auto;
    display: block;
    font-family: 'Outfit', sans-serif;
}


.rodape {
    color:#8BACD9 ;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    padding-left: 50px;
    
    

}


.foto2 {
    width: 35px;
    float: left;
    padding-top: 10px;
}

